.Logout-btn {
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #f9ca24;
}

.headingCard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    color: #f9ca24;
}

.linkCard {
    text-decoration: none;
    color: #0c0c0c;
    font-size: 1.6rem;
    padding: 6px 30px;
    border: 1px solid #1e90ff;
    border-radius: 10px;

    &:hover{
        background-color: #1e90ff;
        color: var(--background-main-color);
    }
}

