.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags {
    color: var(--primary-color);
    opacity: 0.6;
    position: absolute;
    left: 160px;
    bottom: 0;
    font-size: 2.2rem;

    font-family: 'Montserrat';
    font-style: italic;
}

.bottom-tag-html {
    margin-left: -30px;
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: faceIn 1s forwards;
    animation-delay: 1s;
}

.about-page,
.contact-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 32%;
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;

        .main-title {
            font-size: 3.6rem;
            font-family: 'Coolvetica';
            color: var(--primary-color);
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;

            &::before {
                content: '<h1>';
                font-family: 'La Belle Aurore';
                font-size: 1.4rem;
                position: absolute;
                margin-top: -125px;
                left: -10px;
                opacity: 0.6;
                line-height: 18;
            }

            &::after {
                content: '<h1/>';
                font-family: 'La Belle Aurore';
                font-size: 1.4rem;
                position: absolute;
                left: -30px;
                bottom: -20px;
                margin-left: 20px;
                opacity: 0.6;
            }
        }
        .main-description{
            font-size: 1.8rem;
            color: var(--white-color);
            font-family: sans-serif;
            font-weight: 300;
            opacity: 0.8;
            min-width: fit-content;
            margin-bottom: 14px;
            text-align: justify;
            animation: pulse 1s;

            &:nth-of-type(1){
                animation-delay: 1.1s;
            }

            &:nth-of-type(2){
                animation-delay: 1.2s;
            }
        }
    }

    .text-animate-hover{
        &:hover {
            color: var(--white-color);
        }
    }
}

@media screen and (max-width: 1200px) {
    .page {
      position: initial;
    }
  
    .container {
      position: initial;
      height: auto;
      min-height: auto;
  
        &.contact-page,
        &.about-page,
        &.portfolio-page {
            .text-zone {
                position: initial;
                transform: none;
                width: 100%;
                display: block;
                padding: 20px;
                box-sizing: border-box;
            }
        }
  
        &.portfolio-page {
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
  
            h1.page-title {
                margin-left: 20px;
                margin-top: 20px;
            }
  
            .image-box {
                height: 200px;
                max-width: calc(50% - 10px);
            }
        }
    }
  
    .stage-cube-cont {
        position: initial;
        width: 100%;
        height: 0%;
        overflow: visible;
    }
}

