// root.css
:root {
  // color UI
  --subtext-color: #8d8d8d;
  --primary-color: #ffd32a;
  --white-color: #fafafa;
  --background-main-color: #022c43;
  --background-header: #181818;

  // layout variables size
  --width-header: 80px;
}

// reset CSS
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

// font size for web
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-animation: alternate-reverse;
}

body {
  display: block;
  margin: 0;
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--background-main-color);
  font-family: 300 11px/1.4 "Helvetica Neue", "sans-serif"; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dashboard {
  margin-top: 100px;
  margin-left: 200px;
}

.Login-btn {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
}

.Login-btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

